Repository cytechmobile/sendium, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, documentation

ci: Reconfigured label-pr action permissions
  .github/workflows/label-pr.yml
Labels: none

ci: fixed typo on action name
  .github/workflows/label-pr.yml
Labels: none

ci: fixed typo on action name
  .github/workflows/label-pr.yml
Labels: none

Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: documentation

Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: documentation

ci(workflow): Added auto approve for dependabot
  .github/workflows/auto-approve.yml
Labels: none

ci(workflow): Added auto approve for dependabot
  .github/workflows/auto-approve.yml
Labels: none

docs(Swagger): Added security scheme
  sms-gateway/src/main/java/smsgateway/resource/ApiKeyResource.java
  sms-gateway/src/main/java/smsgateway/resource/DlrResource.java
  sms-gateway/src/main/java/smsgateway/resource/RoutingResource.java
  sms-gateway/src/main/java/smsgateway/resource/SmppVendorConfigResource.java
  sms-gateway/src/main/java/smsgateway/resource/SmsResource.java
  sms-gateway/src/main/java/smsgateway/routing/router/SmsRouter.java
  sms-gateway/src/main/java/smsgateway/services/DlrForwardingService.java
Labels: backend

docs(Swagger): Added security scheme
  sms-gateway/src/main/java/smsgateway/resource/ApiKeyResource.java
  sms-gateway/src/main/java/smsgateway/resource/DlrResource.java
  sms-gateway/src/main/java/smsgateway/resource/RoutingResource.java
  sms-gateway/src/main/java/smsgateway/resource/SmppVendorConfigResource.java
  sms-gateway/src/main/java/smsgateway/resource/SmsResource.java
  sms-gateway/src/main/java/smsgateway/routing/router/SmsRouter.java
  sms-gateway/src/main/java/smsgateway/services/DlrForwardingService.java
Labels: backend

feat(Send): Dlr map size
  sms-gateway/src/main/java/smsgateway/services/DlrMappingService.java
  sms-gateway/src/main/resources/application.properties
Labels: backend

feat(Send): Dlr map size
  sms-gateway/src/main/java/smsgateway/services/DlrMappingService.java
  sms-gateway/src/main/resources/application.properties
Labels: backend

fix(ci): Workflow CI does not contain permissions
  .github/workflows/ci.yml
Labels: none

fix(ci): workflow build native does not contain permissions
  .github/workflows/buildNative.yml
Labels: none

fix(ci): workflow build does not contain permissions
  .github/workflows/build.yml
Labels: none

fix(ci): wiki publish does not contain permissions
  .github/workflows/wiki-publish.yml
Labels: none

fix(ci): workflow build native does not contain permissions
  .github/workflows/buildNative.yml
Labels: none

fix(ci): workflow build does not contain permissions
  .github/workflows/build.yml
Labels: none

fix(ci): wiki publish does not contain permissions
  .github/workflows/wiki-publish.yml
Labels: none

fix(ci): Workflow CI does not contain permissions
  .github/workflows/ci.yml
Labels: none

refactor(ci): Refactored post merge action process
  .github/workflows/ci.yml
Labels: none

refactor(ci): Refactored post merge action process
  .github/workflows/ci.yml
Labels: none

fix(ci): CI Workflow does not contain permissions
  .github/workflows/ci.yml
Labels: none

fix(ci): CI Workflow does not contain permissions
  .github/workflows/ci.yml
Labels: none

feat(metrics): Added support for metrics with micrometer for Prometheus
  sms-gateway/pom.xml
Labels: backend

feat(metrics): Added support for metrics with micrometer for Prometheus
  sms-gateway/pom.xml
Labels: backend

feat(http): Added rate limits on http requests received
  sms-gateway/pom.xml
  sms-gateway/src/main/java/smsgateway/resource/ApiKeyResource.java
  sms-gateway/src/main/java/smsgateway/resource/DlrResource.java
  sms-gateway/src/main/java/smsgateway/resource/RoutingResource.java
  sms-gateway/src/main/java/smsgateway/resource/SmppVendorConfigResource.java
  sms-gateway/src/main/java/smsgateway/resource/SmsResource.java
Labels: backend

feat(http): Added rate limits on http requests received
  sms-gateway/pom.xml
  sms-gateway/src/main/java/smsgateway/resource/ApiKeyResource.java
  sms-gateway/src/main/java/smsgateway/resource/DlrResource.java
  sms-gateway/src/main/java/smsgateway/resource/RoutingResource.java
  sms-gateway/src/main/java/smsgateway/resource/SmppVendorConfigResource.java
  sms-gateway/src/main/java/smsgateway/resource/SmsResource.java
Labels: backend

feat(security): Added automated dependency chek workflow
  .github/workflows/dependency_check.yml
Labels: none

feat(security): Added automated dependency chek workflow
  .github/workflows/dependency_check.yml
Labels: none

fix(ci): Fixed build process
  .github/workflows/build.yml
  .github/workflows/buildNative.yml
Labels: none

fix(ci): Fixed build process
  .github/workflows/build.yml
  .github/workflows/buildNative.yml
Labels: none

refactor(ci): refactor build process
  .github/workflows/buildNative.yml
  sms-gateway/Dockerfile.native
Labels: backend

refactor(ci): refactor build process
  .github/workflows/buildNative.yml
  sms-gateway/Dockerfile.native
Labels: backend

.github/labeler.yml:

frontend:
- changed-files:
  - any-glob-to-any-file: 'frontend/**/*'

backend:
- changed-files:
  - any-glob-to-any-file: 'sms-gateway/**/*'

documentation:
- changed-files:
  - any-glob-to-any-file: '**/*.md'
